<div style="padding:20px; font-family:sans-serif; background-color:#80ffc0;">

  <router-outlet></router-outlet>
  <!--
  <app-word-root></app-word-root>
  -->

  <!--
  <h1>Cebuano Search</h1>

  <div *ngIf="!isInitialized">
    <div>Loading...</div>
  </div>
  <div *ngIf="isInitialized">
    <p>Search:
      <input type="text" [(ngModel)]="searchText" (keydown.enter)="onSearch($event)" />
    <p>
      <input type="checkbox" [(ngModel)]="doE"> English
      <span style="width:8em;">&nbsp;</span>
      <input type="checkbox" [(ngModel)]="doC"> Cebuano
      <span style="width:8em;">&nbsp;</span>
      <input type="checkbox" [(ngModel)]="examplesOnly"> Examples Only
      <span style="width:8em;">&nbsp;</span>
      <input type="checkbox" [(ngModel)]="wholeWordOnly"> Whole Word Only
    </p>
    <div *ngFor="let r of searchResults" style="margin-bottom:1em; background-color:white; border-radius:8px; padding:8px; ">
      <div><span style="color:#808080">c</span> {{r.c}}</div>
      <div><span style="color:#808080">e</span> {{r.e}}</div>
      <div><span style="color:#808080"><i>see: {{r.root}}</i></span></div>
    </div>
  </div>

  -->
  
</div>
